body {
    font-family:sans-serif;
}

h1,h2,h3 {
    font-family:cursive;
    color: blue;
}

h2 {
}

h3 {
    padding:0px;
    margin:0px;
    color: black;
}

.menu{
    float:left;
    width:100px;
}

.recette{
    border:solid orange 1px;
    float:right;
    width:80%;
    margin-bottom:20px;
    margin-right:20px;
}

a{
    display:block;
    width:80px;
    margin-right:20px;
}

#gateau{
    float:right;
    height:380px;
    margin-right:40px;
}

#img{
    float:right;
}

p{
    margin-top:5px;
}

.prep{
    background-color:#F8F8FF;   
    clear:left; 
}

.pastille{
    background-color:red;
    height:20px;
    width:90px;
    display:block;
    color:white;
    padding: 5px 5px 5px 5px;
    margin-top:5px;
    text-decoration: none;
}

blockquote, #mesures {
    font-style:italic;
    text-align:right
}

.ingredient {
    color:black;
}

ul, body > ol {
    padding-top:5px;
    padding-bottom: 5px;
}

.operation {
    color: black;
    font-style: normal;
}

ol ol {
    list-style-type:lower-latin;
}

body > ol > li {
    margin: 5px 0;
}

.metrique, .imperial{
    font-style:italic;
}

#mesures, #mesures-label {
    display:none
}

.metrique {
    display:inline;
}

.imperial {
    display:none
}

.section{
    float:left;
}

footer{
    position:fixed;
    left:0;
    bottom:0;
    border-top:solid 1px orange;
    width:100%;
    background-color:#ffffff;
}

footer a{
    margin:0 auto;
    display:block;
}

#ricardo{
    height:20px;
}
/* décommenter pour l'affichage dynamique des unités */

#mesures, #mesures-label {
    display:none;
}

#mesures:checked ~ ul .metrique {
     display:none;
}

#mesures:checked ~ ul .imperial {
    display:inline
}

@media (max-width:1023px){
	.section {
	    clear:both;
	}

	.prep{
	    clear:both;
	}

	.ingredient{
	    clear:both;
	}

	.menu{
	    float:none;
	    margin-bottom:20px;
    	    width:300px;
	}

	.pastille{
	    clear:both;
	    display:inline;
	}

	.recette{
	    float:left;
	}

}
